{
  "extends": [
    "airbnb",
    "plugin:react/recommended"
  ],
  "rules": {
    "indent": ["error", 4, {
    }],
    "react/jsx-indent" : ["error", 4],
    "react/jsx-indent-props": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
  "browser": true,
  "jest": true
}
}
