.navbar {
    .navbar-brand {
        color: white !important;
        font-size: 12pt !important;
    }
}
.sidebar .nav .nav-item .nav-link svg.menu-icon {
    font-size: 1.125rem;
    line-height: 1;
    margin-right: 1.125rem;
}

